{%  extends 'common.html' %}

{% block emandi %}
    {% load static %}

{#    <form action="{%  url 'admin_save' %}" method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    <table align="center" border="2">#}
{#       <tr><th>Update Admin</th></tr>#}
{#        {{ data }}#}
{#        <tr>#}
{#            <th>#}
{#                <input type="number" PLACEHOLDER="Idno" required name="t1" readonly value="{{ data.id }}">#}
{#            </th>#}
{#        </tr>#}
{#        <tr>#}
{#            <th>#}
{#                <input type="text" PLACEHOLDER="Name" required name="t2" readonly value="{{ data.name }}">#}
{#            </th>#}
{#        </tr>#}
{#        <tr>#}
{#            <th>#}
{#                <input type="number" PLACEHOLDER="contact no" required name="t3" readonly value="{{ data.contact }}">#}
{#            </th>#}
{#        </tr>#}
{#        <tr>#}
{#            <th>#}
{#                <input type="email" PLACEHOLDER="Email" required name="t4" readonly value="{{ data.email }}">#}
{#            </th>#}
{#        </tr>#}
{#        <tr>#}
{#            <th>#}
{#                <input type="file" required name="t5" readonly value="{{ data.photo.url}}">#}
{#            </th>#}
{#        </tr>#}
{#        <tr>#}
{#            <th>#}
{#                <input type="password" PLACEHOLDER="Password" required name="t6" readonly value="{{ data.password }}">#}
{#            </th>#}
{#        </tr>#}
{#        <tr>#}
{#            <th>#}
{#                <button type="submit">Save Update</button>#}
{#            </th>#}
{#        </tr>#}
{##}
{#    </table>#}
{#    </form>#}








<h1> Welcome</h1>















{% endblock %}