{% extends 'common.html' %}
{% block emandi %}
    {% load static %}

    <table align="center"  style="border:1px solid" width="650">
    <tr>
        <th style="background: lightgreen;font-size: 20px;color: white;" colspan="5">
            Contact US.

        </th>
        <tr>
        <th>
          <img src="{% static 'images/mob.png' %}" width="50" height="50">
            18001804555, 155241 (Only For Marchant)
        </th>
    </tr>
    <tr>
        <th>
            <img src="{% static 'images/what.jpg' %}" width="50" height="50">
            Mob / Whatsapp No. - 8765958629(Only  For Farmer)
        </th>
    </tr>
    <tr>
        <th>
            Kisan Mandi Bhawan , Vibhutikhand Gomitnagar Lucknow
        </th>
    </tr>
    </table>
    <br>


{% endblock %}