<!doctype html>
<html lang="en">
  <head> {% load  static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <title>E-Mandi</title></head>
  <body>
  <div style="text-align: center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <table align="center" border="0">
          <tr>
              <th><img src="{% static 'images/emandi.png' %}" width="250" height="150"> </th>
              <th><h1 style="color: red;text-shadow: black 0px 5px 5px;font-family:Calibri;text-align: center;font-size: 45">
                State Agricultural Produce E-Markets Board, Uttar Pradesh</h1></th>
              <th><a href="https://digitalindia.gov.in/">
                  <img src="{% static 'images/digindia.png' %}" width="250" height="150"></a></th></tr>
        </table>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    </nav></div>
<DIV>
  <marquee bgcolor="pink">
       <b> e-Mandi welcomes all the FPOs & requests to register for trading on e-Mandi to avail benefits from the transparent system. Kindly reach us on our Toll-Free No.1800 270 02</b></marquee></div>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'view_all_product1' %}">View Product <span class="sr-only">(current)</span></a>
      </li> &nbsp;&nbsp;&nbsp;
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'view_order' %}">view Order Products <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'view_lic' %}">view_lic <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'main' %}">Logout <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>
  {% block  mar %}

  {% endblock %}