{% extends 'common.html' %}

{% block emandi %}


    <table align="center" border="2">
    <tr>
        <th style="background: lightblue;font-size: 30px;color: red" colspan="2"> Price List Of Agriculture Product</th>
    </tr>
    <tr>
        <th style="background: orange;font-size: 25px;color: white;text-align: center" COLSPAN="2">Grains List</th>
    </tr>
    <tr>
        <th>Wheat</th>
        <th>1850 Per/100 KG</th>
    </tr>
    <tr>
        <th>Rice</th>
        <th>2000 Per/100 KG</th>
    </tr>
    <tr>
        <th>Pearl mille</th>
        <th>3000 Per/100 KG</th>
    </tr>
    <tr>
        <th>Maize</th>
        <th>1000 Per/100 KG</th>
    </tr>
    <tr>
        <th>Sorghum</th>
        <th>1000 Per/100 KG</th>
    </tr>
    <tr>
        <th style="background: royalblue;font-size: 25px;color: white;text-align: center" COLSPAN="2">Furits List</th>
    </tr>
    <tr>
        <th>Banana</th>
        <th>850 </th>
    </tr>
    <tr>
        <th>Apple</th>
        <th>2000 Per/100 KG</th>
    </tr>
    <tr>
        <th>Cherries</th>
        <th>3000 Per/100 KG</th>
    </tr>
    <tr>
        <th>Coco Nut</th>
        <th>1000 Per/100 KG</th>
    </tr>
    <tr>
        <th>Graps</th>
        <th>1000 Per/100 KG</th>
    </tr>
    <tr>

    </table>

{% endblock %}