{% extends 'admin_menu.html' %}


{% block admin %}

<table align="center" border="0">

<tr>
<th colspan="9" style="background: palegreen;color: coral;font-size: 25px; text-align: center;"> All Farmer Details</th></tr>
<tr bgcolor="#add8e6" style="color:orangered;font-size: 20px">
    <th width="100">ID</th>
    <th width="150">Name</th>
    <th width="150">Contact</th>
    <th width="150">Email</th>
    <th width="150">Photo</th>
    <th width="150">Date Of Registration</th>
    <th width="150">Password</th>
    <th width="150">Delete</th>
</tr>
 {% for x in data1 %}
     <tr>
     <th>{{ x.fid }}</th>
     <th>{{ x.name }}</th>
     <th>{{ x.contact }}</th>
     <th>{{ x.email }}</th>
     <th><img src="{{ x.photo.url}}" width="90" height="90"></th>
     <th>{{ x.date_of_register }}</th>
     <th>{{ x.password }}</th>
     <th><a href="{% url 'delete_farmer' %}?idno={{ x.fid }}">Delete</a></th>
     </tr>
{% endfor %}
</table>

{% endblock %}